.Bar{
    position: relative;
    top: 0;
    background-color:rgb(255, 152, 79);
    display: block;
    list-style: none;
    height: 55px;
    border-top: none;
    border-bottom: solid 1px black;
    width: 100%;
    box-shadow: 2px 2px grey;
}
.collapse.in {
    margin-top: -8px;
}
.collapsing {
    margin-top: -8px;
}
.leftbar{
    display: flex;
    padding: 0 40px;
    margin-bottom: 2px;
    position: absolute;
    
}
.sl{
    padding-right: 40px;
    
    
}
.select{
    background-color: rgb(255, 152, 79);

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
 
    border-top: none;
    padding: 50px;
    margin-top: 5px;
    padding-bottom: 0px;
    
}
.quanlytuyendung, .quanlyhoso, .quanlychamcong, .quanlytienluong{
    height: 53px;
    border: none;
    width: 200px;
    background-color: rgb(255, 152, 79);
    color: white;
    text-transform: uppercase;
    margin-left: 30px;

}
.selectlink{
    margin-top: 10px;
    color: white;
    font-size: 18px;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.resize{
    display: block;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: -50px;
    margin-top: -40px;
}

.but,.quanlycongtacnhanvien ,.quanlycalamviec{
    background-color: rgb(255, 152, 79);
    border: none;
    border-top: solid 1px chocolate;
    margin-top: -6px;
}
.collapse{
    position: relative;
}
.linksl{
    color: white;
}
.tdtd, .qlhsuv{
    background-color: rgb(97, 167, 247);
    width: 240px;
    height: 40px;
    padding-top: 8px;




}
.resize1{
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -40px;   
    height: 100px;
}
.select1{
    background-color: rgb(255, 152, 79);

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
    padding: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid chocolate;
}

.quanlycongtacnhanvien , .quanlycalamviec{
    background-color: rgb(255, 152, 79);
    padding-bottom: 0px;
}
.rightbar{
    float: right;
}
.text-username{
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 4px;
    margin-top: -1px;
    padding-right: 3px;
}
.bt-logout{
    background-color: greenyellow;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 30px;

}
.bt-logout:hover{
    background-color: red;
    color: white;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.cachra{
margin-left: 10px;
background-color: green;
color: white;
padding-bottom: 4px;
border-radius: 10px;
width: 80px;
}
.input-tim-kiem{
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
}
.form-them{
    font-size: 40px;
    border: 2px black solid;
    margin: 10px;
    background-color: rgb(191, 255, 234);
}
.tachbentrong{
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.them-nut{
    background-color: green;
    padding-bottom: 10px;
    border-radius: 30px;
    color: white;
}
.them-nut:hover{
    background-color: aqua;
    color: green;
}
.ngoai-them-nut{
    padding-top: 30px;
    margin-left: 100px;
    padding-bottom: 20px;
}
.themcv-container{
    padding-left: 600px;
    background-color: beige;
    box-shadow: 2px 2px gray;
}
.motcombo-input{
    padding: 10px;
}
input{
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.tachbentrong-chinhsua{
    margin-left: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-them-nv{
    border: 2px black solid;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(191, 255, 234);
}
.namngang{
    display: flex;
}
.ngoai-them-nut-nv{
    margin-left: 350px;
}
.tachbentrong-themnv{
    margin-left: 330px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.center-form{
    margin-left: 660px;
    font-size: 30px;
}
button{
    border-radius: 10px;
}
.bt-themcalam{
    background-color: green;
    color: white;
    padding-bottom: 10px;
}
.ngoai-bt-themcalam{
    text-align: center;
    padding: 20px;
}
.chonca-lamviec{
    width: 200px;
    height: 80px;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 0px;
}
.tachbentrong-themchamcong{
    padding: 20px;
}
.right-form{
    margin-left: 20px;
}
.chamcong-nut{
    margin-top: 20px;
    width: 160px;
    height: 70px;
    padding-bottom: 20px;
    background-color: green;
    color: white;
}
.chamcong-nut:hover{
    background-color: aqua;
    color: black;
}
.chen-left-chamcong{
    width: 200px;
}
.ngoai-them-nut-chamcong{
    text-align: center;
}
.chamcong-nut-chamlai{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.left-margin{
    margin-left: 60px;
}
.flex-chinhsua-input{
    display: flex;
}
.left-tit{
    margin-top: 50px;
}
.bt-them-page{
    margin-left: 40px;
    margin-bottom: 20px;
}